nav {
    background-color: rgb(253, 253, 255);
 
    
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
   
}

.nav_sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(56, 139, 247, 0.3);
  }

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 30px;
}

.navitems a {
text-decoration: none;
color: rgb(15, 14, 14);
font-weight: 600;
}

.auth_btn{
    display: inline-flex;
    gap: 1rem;
}

.signin_btn {
   

   display: flex;
padding: 8px 16.09px 8px 17px;
justify-content: center;
text-decoration: none;
align-items: center;
border-radius: 12px;
border: 1px solid #CDD3DB;
  
}



.signup_btn {
    text-decoration: none;
    
   color: rgb(255, 255, 255);
   display: flex;
padding: 8px 16.52px 8px 17px;
justify-content: center;
align-items: center;
border-radius: 12px;
background: var(--Linear, linear-gradient(273deg, #C0F 0%, #09F 100%));
box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.20);
 }

.toggle_btn {
    font-size: 30px;
    display: none;
}


@media only screen and (max-width: 757px) {
    .toggle_btn {
        display: inline-block;
    }

    .navitems {
        display: none;
    }

    .signin_btn, .signup_btn {
        display: none;
    }
 }